.sectionMiddle{
    position:relative;
    z-index:1;
    padding:30px;
    height:236.5px;

    background-color:rgba(15, 15, 15, 0.95);
    color:white;
    border-radius:10px;
    border:1px solid white;
}