@font-face {
    font-family: matrix-code;
    src: url('./fonts/matrix_code_nfi.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body{
    font-family: 'Rubik', sans-serif;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);

    *{
        box-sizing:border-box;
    }
}


#backgroundOverlay, #backgroundOverlay2{ //makes the background-image darker.
    width:100%; height:100%;
    position:fixed;
    top:0px;
    left:0px;
    background-color:rgba(0, 0, 0, 0.5);
    z-index:-1;
}
#backgroundOverlay2{
    z-index:1;
}


#wrapper{ //contains all content except reposDiv.
    margin:auto;
    margin-top:2%;
    margin-bottom:2%;
    z-index:2;
    padding:2%;
    width:100%;
    max-width:800px; //100% width on smaller screens but not too wide on large screens.
    position:relative;

    background-color:rgba(15, 15, 15, 0.95);
    color:white;
    border-radius:10px;
    border:1px solid white;
}



/* width */
::-webkit-scrollbar {
    width:10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:#1f1f1f;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#5a5a5a;
    border-radius:10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:#747474;
  }